# Configuration SMTP
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=votre-email@exemple.com
SMTP_PASS=votre-mot-de-passe
MAIL_RECIPIENT=email-de-destination@exemple.com

# Port du serveur
PORT=80
